{% if theme == "sbAdmin2.twig" %}
{% set secondLevelClass = "nav nav-second-level" %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
{% else %}
    {% set secondLevelClass = "collapse" %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
{% endif %}
        <li>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#episode"><i class="fa fa-fw fa-cubes"></i> Playsheets <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="episode" class="{{secondLevelClass}}">
                <li>
                    <a href="/episode/new"><i class='fa fa-cube'></i> New Episode</a>
                </li>
                <li>
                    <a href="/legacy/oep/p1update.php"><i class='fa fa-edit'></i> Edit Episode</a>
                </li>
                {% if permissions > 1 %}
                    <!--<li>
                        <a href="/drop2/"><i class='fa fa-trash'></i> Delete Episode</a>
                    </li>
                    <li>
                        <a href="/drop2/"><i class='fa fa-lock'></i> Lock Episode</a>
                    </li>
                    <li>
                        <a href="/drop2/"><i class='fa fa-exclamation'></i> Audit Episode</a>
                    </li>-->
                    <li>
                        <a href="/Reports/MissingLogRep.php"><i class='fa fa-crosshairs'></i> Missing Log Report</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% if permissions > 1 %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#program"><i class="fa fa-fw fa-cogs"></i> Programs <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="program" class="{{secondLevelClass}}">
                <li>
                    <a href="/legacy/program/p1insert.php"><i class='fa fa-cog'></i> New Program</a>
                </li>
                <li>
                    <a href="/legacy/program/p1advupdate.php"><i class='fa fa-sliders'></i> Edit Program</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#hosts"><i class="fa fa-fw fa-group"></i> Hosts <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="hosts" class="{{secondLevelClass}}">
                <li>
                    <a href="/legacy/dj/p1newdj.php"><i class='fa fa-user-plus'></i> New Host</a>
                </li>
                <li>
                    <a href="/legacy/dj/p1updatedj.php"><i class='fa fa-user'></i> Edit Host</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#traffic"><i class="fa fa-fw fa-usd"></i> Traffic <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="traffic" class="{{secondLevelClass}}">
                <li>
                    <a href="/legacy/Advertisements/p1advins.php"><i class='fa fa-plus'></i> New Contract</a>
                </li>
                <li>
                    <a href="/legacy/Advertisements/p1update.php"><i class='fa fa-book'></i> Edit Contract</a>
                </li>
                <!--<li>
                    <a href="/Advertisements/?q=clin"><i class='fa fa-plus'></i> New Client</a>
                </li>
                <li>
                    <a href="/oep/EPV2/p1insert.php"><i class='fa fa-plus'></i> Edit Client</a>
                </li>
                <li>
                    <a href="/Advertisements/index.php?q=ver"><i class='fa fa-check-square-o'></i> Verification</a>
                </li>-->
            </ul>
        </li>
        {% endif %}
        {% if permissions > 1 or "submission" in permissions %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#submission"><i class="fa fa-fw fas fa-music"></i> Submission <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="submission" class="{{secondLevelClass}}">
                <li>
                    <a href="/submission/"><i class='fa fa-search'></i> Search</a>
                </li>
                {% if permissions > 1 or "managePlaylist" in permissions %}
                <li>
                    <a href="/playlist/add/"><i class='fa fa-calculator'></i> Add Submission</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if permissions > 0 or "library" in permissions %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#library"><i class="fa fa-fw fa-headphones"></i> Library <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="library" class="{{secondLevelClass}}">
                <li>
                    <a href="/library/search/"><i class='fa fa-search'></i> Search</a>
                </li>
                <li>
                    <a href="/library/new"><i class='fa fa-music'></i> Receiving</a>
                </li>
                {% if permissions > 1 or "manageLabels" in permissions %}
                <li>
                    <a href="/label/"><i class='fa fa-globe'></i> Record Labels</a>
                </li>
                <li>
                    <a href="/library/inventory/"><i class='fa fa-bar-chart-o'></i> Inventory</a>
                </li>
                <li>
                    <a href="/library/batch/"><i class='fa fa-plus-circle'></i> Batch Entry</a>
                </li>
                <li>
                    <a href="/labels/print?type=5160&start=1&outline=false" disabled><i class='fa fa-print'></i> Print Labels</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if permissions > 0 or "playlist" in permissions %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#playlist"><i class="fa fa-fw fa-list-alt"></i> Playlist <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="playlist" class="{{secondLevelClass}}">
                <li>
                    <a href="/playlist/"><i class='fa fa-search'></i> Search</a>
                </li>
                {% if permissions > 1 or "managePlaylist" in permissions %}
                <li>
                    <a href="/playlist/generate/"><i class='fa fa-calculator'></i> Generate / Add</a>
                </li>
                <li>
                    <a href="/playlist/report/"><i class='fa fa-line-chart'></i> Report</a>
                </li>
                <li>
                    <a href="/Reports/PlaylistRep.php"><i class='fa fa-bar-chart-o'></i> Charts</a>
                </li>
                <li>
                    <a href="/playlist/labels/"><i class='fa fa-print'></i> Print Labels</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#reviews"><i class="fa fa-fw fa-tags"></i> Reviews <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="reviews" class="{{secondLevelClass}}">
                {% if permissions > 1 %}
                <li>
                    <a href="/review/search/"><i class='fa fa-search'></i> Search</a>
                </li>
                {% endif %}
                <li>
                    <a href="/review/"><i class='fa fa-comments-o'></i> Available Reviews</a>
                </li>
                {% if permissions > 1 %}
                <li>
                    <a href="/review/complete"><i class='fa fa-check-square'></i> Pending Approval</a>
                </li>
                <li>
                    <a href="/review/print/"><i class='fa fa-print'></i> Print Labels</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% if permissions > 1 %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#management"><i class="fa fa-fw fa-gavel"></i> Management <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="management" class="{{secondLevelClass}}">
                <li>
                    <a href="/station/"><i class='fa fa-bolt'></i> Station Settings</a>
                </li>
                <li>
                    <a href="/station/category/{{callsign}}"><i class='fa fa-th-list'></i> Program Categories</a>
                </li>
                <li>
                    <a href="/legacy/stn/Audit"><i class='fa fa-flag-o'></i> Reporting</a>
                </li>
                <li>
                    <a href="/system/log"><i class='fa fa-lock'></i> System Logs</a>
                </li>
                <li>
                    <a href="/legacy/oep/EPV3/Audit.php"><i class='fa fa-flag-checkered'></i> Audit</a>
                </li>
                <li>
                    <a href="/Reports/Stats.php?w=12"><i class='fa fa-pie-chart'></i> Statistics</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#users"><i class="fa fa-fw fa-user"></i> Users <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="users" class="{{secondLevelClass}}">
                <li>
                    <a href="/user/new"><i class="fa fa-user-plus"></i> New</a>
                </li>
                <li>
                    <a href="/user/"><i class="fa fa-user-times"></i> Manage</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#advanced"><i class="fa fa-fw fa-terminal"></i> Advanced <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="advanced" class="{{secondLevelClass}}">
                <li>
                    <a href="/Remote/index.php"><i class='fa fa-wrench'></i> Switch Control</a>
                </li>
                <li>
                    <a href="/updates"><i class='fa fa-download'></i> Update</a>
                </li>
                <li>
                    <a href="/legacy/legacy_controller.php" target="_legacy"><i class="fa fa-angle-down"></i> Legacy interface</a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
    {% if theme=="sbAdmin2.twig" %}
    </div>
    {% endif %}
</div>
