{% extends 'baseAdmin.twig' %}
{% block headScripts %}
    <link href="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.css" 
          rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}{{title|default('Episode')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-tasks"></i> <a href="/">Program</a>
    </li>
    <li class="active">
        <a href="/episode/new"><i class="fa fa-plus-square-o"></i> New Episode</a>
    </li>
</ol>
{% endblock %}
{% block content %}
    <form role="form" {% if episode.id is null %}
          method="POST">
        {% else %}
            method="POST" action="./{{episode.id}}"> <!-- PUT NOT YET SUPPORTED BY BROWSER -->
            <input type="hidden" value="{{episode.id}}" name="id" />
        {% endif %}
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="station">Station</label>
                    <select id="station" name="callsign" class="form-control">
                        {% for stnCallsign, stnBrand in stations %}
                        <option {% if callsign == stnCallsign %}
                            selected 
                            {% endif %} value="{{stnCallsign|escape}}">{{stnBrand}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="program">Program</label>
                    <select id="program" name="program" class="form-control">
                        {% for pgm in program %}
                        <option value="{{pgm.id}}">{{pgm.name}}  [{{pgm.genre}}]</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <label for="datePicker">Date</label>
                <input type='text' class="form-control" id='datePicker' 
                       name="date" value="{{date|default("now"|date('Y-m-d'))}}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <label for="description">Description</label>
                <input type='text' class="form-control" id='description' 
                       name="description" value="{{description}}"/>
            </div>
            <div class="col-lg-2">
                <div class="form-group pull-right">
                    {% if episode.id is not null %}
                        <input type="hidden" name="_METHOD" value="PUT"/>
                    {% endif %}
                <button type="submit" class="btn btn-success">Submit</button>
                <!--<button type="reset" class="btn btn-warning">Reset</button>-->
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block lastScripts %}
    <script src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function(){
            $.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
            $("#datePicker").datepicker();
        });
    </script>
{% endblock %}
