{% extends 'baseAdmin.twig' %}
{% block headScripts %}
<style>
	.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
  border-right: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
</style>
{% endblock %}

{% block title %}{{title|default('Administration Dashboard')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-tasks"></i> <a href="/Episode/">Episode</a>
    </li>
    <li class="active">
        <a href="/review/search/album/{{album.RefCode}}"><i class="fa fa-barcode"></i> {{episode.RefCode}}</a>
    </li>
</ol>
{% endblock %}
{% block content %}

<!-- Episode Info -->
<table class="table">
	<tr>
		<td class="col-md-2">SHow Classification: {{req.cla}}</td>
		<td class="col-md-2">Sponsor: {{req.sponsor}}</td> 
		<td class="col-md-2 bg-warning">Ads: <span id='adCount'>0</span>/{{req.ads}}</td> 
		<td class="col-md-2 bg-warning">PSA/Promo: <span id='psaCount'>0</span>/{{req.psa}}</td> 
		<td class="col-md-2 bg-success">Canadian Content Required: /{{req.cancon}}</td> 
		<td class="col-md-2 bg-success">Playlist Required: /{{req.playlist}}</td>
	</tr>

	<tr></tr>

	<tr style="border-bottom-style:hidden;">
		<th>Air Date</th> <th>Air Time</th> <th>Program</th> <th>Station</th> <th>Description</th><th>Type</th>
	</tr>
	<tr>
		<td class="col-md-2">{{episode.date}}</td> <td class="col-md-2">{{episode.time}}</td> <td class="col-md-2">{{episode.name}}</td> <td class="col-md-2">{{episode.callsign}}</td> <td class="col-md-2">{{episode.description}}</td> <td class="col-md-2">{{episode.type == 0 ? 'Live': episode.pre-type == 1 ? 'Pre-Record' : 'Timeless' }}</td>
	</tr>
</table>

<hr>
<!--  Ads / Commercials / Message-->
<table>
	<tr>
		<td class="col-md-3" style="color:green;">Available Friends Ads </td>
		<td class="col-md-3" style="color:blue;">Required Commercials This Hours </td> 
		<td class="col-md-4" style="color:orange;"> Messages</td> <td class="col-md-2"></td>
	</tr>
		<td class="col-md-3"><select name="adbox" id="friends" onchange="CHAVF()" class="form-control"> {{ads.ADOPT | raw}}</select></td>
		<td class="col-md-3"><select name="rqAds" class="form-control">{{ads.REQAD | raw}}</select></td> 
		<td style="font-style: italic; font-size: 80%; color: #eb4b20 " class="col-md-4"><strong>IMPORTANT: When prompted to play required ADs you are <u>ONLY</u> to play the required ADs until they are no longer prompted. Then, and only then are you permitted to play a friend ad <u>IF</u> you have not met your AD requirements</strong></td>
		<td class="clock col-md-2">  
			<canvas id="canvas" style="background-color:#ffff">
			</canvas>

		</td>
</table>

<hr>

<!-- Inserted Song table -->
	<div class="songInputField">
		<div class="row">
			<div class="col-md-3" id="catSelection" >
				<label for="DDLNormal">Category<input type="button" class="btn btn-xs" value="Define" onclick="return popitup('../legacy/help/definetype.html')"/></label>
				<select name="cat" id="DDLNormal" class="form-control input-sm chtype">
	               <option value="53">53, Sponsored Promotion</option>
	               <OPTION value="52">52, Sponsor Indentification</OPTION>
	               <OPTION VALUE="51">51, Commercial</OPTION>
	               <option value="45">45, Show Promo</option>
	               <option value="44">44, Programmer/Show ID</option>
	               <option value="43">43, Musical Station ID</option>
	               <option value="42">42, Tech Test</option>
	               <option value="41">41, Themes</option>
	               	<option value="36">36, Experimental</option>
	               	<option value="35">35, NonClassical Religious</option>
	               	<option value="34">34, Jazz and Blues</option>
	               	<option value="33">33, World/International</option>
	               	<option value="32">32, Folk</option>
	               	<option value="31">31, Concert</option>
	               	<option value="24">24, Easy Listening</option>
	               	<option value="23">23, Acoustic</option>
	               	<option value="22">22, Country</option>
	               	<option value="21">21, Pop, Rock and Dance</option>
	               <option value="12">12, PSA/Spoken Word Other</option>
	               <OPTION VALUE="11">11, News</option>
	               	<OPTION VALUE="" selected disabled>Choose Category</option>
               	</select>
            </div>
            <div class="col-md-1">
				<label for="playlistNum">Playlist ID</label>
				<input type="text" class="form-control input-sm playlistNum" name="playlistNum" id="playlistNum" placeholder="">
			</div>

            <div class="col-md-2">
            	<label for="time">Time:</label>
				<input type="time" name="time" class="form-control input-sm" value="{{episode.time|date('H:i')}}" id="time" placeholder="">
			</div>
		</div>
		<br>
		<div class="row">
			<div id="musicPart">
				<div class="col-md-2">
					<label for="title">Title</label>
					<input class="form-control input-sm" name="title" type="text" placeholder="Title"> 
				</div>

				<div class="col-md-2">
					<label for="artist">artist</label>
					<input class="form-control input-sm" name="artist" id="artist" type="text" placeholder="Artist">
				</div>
				<div class="col-md-2">
					<label for="album">album</label>
					<input class="form-control input-sm" name="album" id="album" type="text" placeholder="Album">
				</div>
				<div class="col-md-2">
					<label for="composer">Composer</label>
					<input class="form-control input-sm" name="composer" id="composer" type="text" placeholder="Composer">
				</div>
				<div class="col-md-1">
						<label for="ccin">CC <br><input type="checkbox" id="ccin" name="cancon" value="1"/></label>
						<label for="hitin">Hit <br><input type="checkbox" id="hitin" name="hit" value="1"/></label>
						<label for="insin">Ins <br><input type="checkbox" id="insin" name="instrumental" value="1"/></label>
				</div>
				<div class="col-md-1">	
					<label for="type">Type</label>
					<select name="type" id="type" class="form-control input-sm">
			           <option value="NA">---</option>
			           <option value="BACKGROUND">BG</option>
			           <option value="THEME">TH</option>
		       		</select>
		       	</div>
		       	<div class="col-md-1">
		       		<label for="lang">Language</label>
					<input list="lang" name="lang" required value="English" size="10" maxlength="40" class="form-control input-sm"/>
		           	<datalist id="lang">
		           		<option value="English">
		           		<option value="French">
		          	</datalist>
		        </div>
		    </div>

	        <div id="adPart" style="display: none">
				<div class="col-md-3">
					<label for="commercial">All Commercials</label>
					<div name="commercial" id="commercial">
							{{commercial|raw}}
					</div>	
				</div>
				<div class="col-md-8"></div>
			</div>

			<div id="psaPart" style="display: none">
				<div class="col-md-3">
					<label for="psaTitle">Title</label>
					<input list="spoken" name="psaTitle" id="psaTitle" size="25" required class="form-control input-sm"  maxlength="90" value="Spoken Word / Talk"/>
                   <datalist id="spoken">
                   		<option value="Spoken Word / Talk">
                   		<option value="PSA / Promo">
                   		<option value="News">
                   		<option value="Verbal Station ID">
                   </datalist>		
				</div>
				<div class="col-md-8"></div>
			</div>

			 <div class="col-md-1">
	        	<input id="insertSong" type="button" class="btn btn-success insertBtn" value="Insert"/>
	        </div>

		</div>

	       



		
	</div>

<br>
<hr>
<div style="background-color: #F5F5F5;">
<form action="{{ action }}" id="episodeForm" method="POST">
	<input type="hidden" name="epNum" value="{{episode.id}}">
	<table class="table" id="songTable" >
		<thead class="thead-dark">
		<tr>
			 <th style="width: 6%">Playlist/<br>Ad ID</th> <th>Category</th><th>Time</th><th>Title</th><th>Artist</th><th>Album</th> <th>Composer</th> <th>CC</th> <th>Hit</th> <th>Ins</th> <th style="width: 7%">Type</th> <th>Language</th><th></th><th></th>
		</tr>
		</thead>
		<tbody>
			<tr id="0"></tr>

			 {% for song in songs %}
            <tr id="{{loop.index}}">
        	<td>
			<input type="hidden" name="row[]" value="{{loop.index}}">
				<input type="text" readonly class="form-control input-sm playlistNum" name="playlistNum[{{loop.index}}]" id="playlistNum" placeholder="" value="{{song.playlistnumber}}">
			</td>
			<td>
				<input type="text" readonly  class="form-control input-sm" name="cat[{{loop.index}}]" placeholder="" value="{{song.category}}">
			</td>
			<td>
				<input type="text" readonly class="form-control input-sm" name="time[{{loop.index}}]" placeholder="" 
				value="{{song.time|date('H:i')}}">
			</td>
			<td>
				<input class="form-control input-sm" type="text" readonly  name="title[{{loop.index}}]" placeholder="Title" value="{{song.title}}"> 
			</td>
			<td>
				<input class="form-control input-sm" readonly name="artist[{{loop.index}}]" id="artist"  type="text" placeholder="Artist" value="{{song.artist}}">
			</td>
			<td>
				<input class="form-control input-sm" readonly id="album" name="album[{{loop.index}}]" type="text" placeholder="Album" value="{{song.album}}">
			</td>
			<td>
				<input class="form-control input-sm" readonly id="album" name="composer[{{loop.index}}]" type="text" placeholder="Composer" value="{{song.composer}}">
			</td>
			<td>
				<input type="checkbox" disabled id="ccin" name="cancon[{{loop.index}}]" {{(song.cancon == 1)? 'checked':''}} value="1"/>
			</td>
			<td>
				<input type="checkbox" disabled id="hitin" name="hit[{{loop.index}}]" {{(song.hit == 1)? 'checked':''}} value="1"/>
			</td>
			<td>
				<input type="checkbox" disabled id="insin" name="instrumental[{{loop.index}}]" {{(song.instrumental == 1)? 'checked':''}} value="1"/>	
			</td>
			<td>
				<input type="text" readonly readonly class="form-control input-sm" name="type[{{loop.index}}]" placeholder="" value="{{song.type}}">
			</td>
			<td>
				<input type="text" readonly class="form-control input-sm" name="lang[{{loop.index}}]" placeholder="" value="{{song.lang}}">
			</td>
			<td>
				<input type="hidden" class="form-control input-sm" name="note[{{loop.index}}]" placeholder="" value="{{song.note}}">
			</td>
			<td>
				<input type="button" value="Notes" class="btn btn-sm {{song.note !=''? 'btn-info':''}}" name="NButton[{{loop.index}}]" onclick="GetNotes({{loop.index}});" />
			</td>
			<td>
				<button type="button" class="btn btn-sm btn-danger rmvBtn">
				      <span class="glyphicon glyphicon-trash"></span>
		  		</button>
			</td>
        </tr>
            {% endfor %} 


		</tbody>

		<tfoot>
            <tr>
			 <th style="width: 6%">Playlist/<br>Ad ID</th> <th>Category</th><th>Time</th><th>Title</th><th>Artist</th><th>Album</th> <th>Composer</th> <th>CC</th> <th>Hit</th> <th>Ins</th> <th style="width: 7%">Type</th> <th>Language</th><th></th><th></th><th>
			</tr>
        </tfoot>
	</table>
	<div class="pull-right">
		<button type="button" class="btn btn-info editBtn">
			      <span class="glyphicon glyphicon-edit"> Edit</span>
		</button>
		<input type="submit" class="btn" id="finalizeEP" value="Finalize" />
		
	</div>
		</form>


</div>


{% endblock %}
{% block lastScripts %}
<script>var commercialOption = ('{{commercial|raw}}')</script>
<script src="{{siteUrl}}/TPSBIN/JS/episode.js"></script>

{% endblock %}
