{% extends 'baseAdmin.twig' %}
{% block headScripts %}
    <link rel="stylesheet" href="{{siteUrl}}/js/chosen.css">
    <link rel="stylesheet" href="{{siteUrl}}/js/bootstrap/checkbox/css/bootstrap-checkbox.css">
    <link rel="stylesheet" href="{{siteUrl}}/js/jquery/css/smoothness/jquery-ui-1.10.0.custom.min.css"/>
{% endblock %}
{% block title %}{{title|default('Station')}}{% endblock %}
{% set genre = genres|first %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li>
        <i class="fa fa-globe"></i>  <a href="/station/{{callsign}}">Station</a>
    </li>
    <li>
        <i class="fa fa-folder"></i>  <a href="/station/category/{{callsign}}">Categories</a>
    </li>
    <li class="active">
        <i class="fa fa-bolt"></i>
        {{genres|keys|first|default('New')}}
    </li>
</ol>
{% if success is not null %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">{{success}}</div>
        </div>
    </div>
    {% endif %}
    <!--<span>SUCCESS: {{success}}, ERROR: {{error}}, ID: {{PRINTID}}| {% for id in PRINTID %}{{id}},{% endfor %}</span>-->
{% endblock %}
{% block content %}
<form role="form" method="post" id="put">
    {% if genres is defined %}
        <input type="hidden" name="_METHOD" value="PUT"/>
        <input type="hidden" name="UID" value="{{genre.UID}}"/>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <fieldset>
                <div id="name-group" class="form-group input-group">
                    <label class="input-group-addon" for="genre">Category Title<span style="color:red">*</span></label>
                    <input name="name" id="genre" type="text" required 
                           {% if genres is not null %} value="{{genres|keys|first}}" disabled
                           {% endif %}
                           placeholder="required common name/brand"
                           class="form-control" autofocus="autofocus">
                    {% if genres is not null %}
                        <input type="hidden" name="name" value="{{genres|keys|first}}"/>
                    {% endif %}
                </div>
            </fieldset>
        </div>
        <div class="col-lg-3">
            <fieldset>
                <div id="name-group" class="form-group input-group">
                    <label class="input-group-addon" for="genreColor">Style Color
                        <span style="color:{{genre.colorPrimary|default("#4FC1E9")}}">*</span></label>
                    <input name="genreColor" id="genreColor" type="text" 
                               value="{{genre.colorPrimary|default("#4FC1E9")}}"
                               placeholder="Hex Color Codes" pattern="\#[0-9A-Fa-f]+"
                               class="form-control">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="govReqType" class="input-group-addon">Gov. Req. Type</label>
                        <select id="govReqType" class="form-control" name="govReqType" style="min-width: 75px;">
                            {% set sortOrder=sortOrder?:{0:"Percentage",1:"Numeric"} %}
                            {% for key,value in sortOrder %}
                                <option value='{{key}}' 
                                        {% if genre.governmentRequirements.type|lower == key|lower %} selected {% endif %}
                                        >{{value|default('Unknown Option')}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="govReq" class="input-group-addon">Gov.</label>
                        <input type="number" min="0" id="govReq" class="form-control text-right" name="govReq" 
                                style="min-width: 75px;" value='{{genre.governmentRequirements.numeric|default(0)}}'/>
                        <span class="input-group-addon">/ Hr</span>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="govReqPerc" class="input-group-addon">Gov.</label>
                        <input type="number" min=0 max=100 id="govReqPerc" class="form-control text-right" name="govReqPerc" 
                                style="min-width: 75px;" value='{{genre.governmentRequirements.percentage*100|default(0)}}'/>
                        <span class="input-group-addon"> % </span>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="playlistType" class="input-group-addon">Playlist Type</label>
                        <select id="playlistType" class="form-control" name="playlistType" style="min-width: 75px;">
                            {% set sortOrder=sortOrder?:{0:"Percentage",1:"Numeric"} %}
                            {% for key,value in sortOrder %}
                                <option value='{{key}}' 
                                        {% if genre.playlistRequirements.type|lower == key|lower %} selected {% endif %}
                                        >{{value|default('Unknown Option')}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="playlist" class="input-group-addon">Playlist</label>
                        <input type="number" min="0" id="playlist" class="form-control text-right" name="playlist" 
                                style="min-width: 75px;" value='{{genre.playlistRequirements.numeric|default(0)}}'/>
                        <span class="input-group-addon">/ Hr</span>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="playlistPerc" class="input-group-addon">Playlist</label>
                        <input type="number" min=0 max=100 id="playlistPerc" class="form-control text-right" name="playlistPerc" 
                                style="min-width: 75px;" value='{{genre.playlistRequirements.percentage*100|default(0)}}'/>
                        <span class="input-group-addon"> % </span>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="femconType" class="input-group-addon">FemCon Type</label>
                        <select id="femconType" class="form-control" name="femconType" style="min-width: 75px;">
                            {% set sortOrder=sortOrder?:{0:"Percentage",1:"Numeric"} %}
                            {% for key,value in sortOrder %}
                                <option value='{{key}}' 
                                        {% if genre.femconRequirements.type|lower == key|lower %} selected {% endif %}
                                        >{{value|default('Unknown Option')}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="femcon" class="input-group-addon">FemCon</label>
                        <input type="number" min="0" id="defaultSort" class="form-control text-right" name="femcon" 
                                style="min-width: 75px;" value='{{genre.femconRequirements.numeric|default(0)}}'/>
                        <span class="input-group-addon">/ Hr</span>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="femperc" class="input-group-addon">FemCon</label>
                        <input type="number" min=0 max=100 id="femperc" class="form-control text-right" name="femconPerc" 
                                style="min-width: 75px;" value='{{genre.femconRequirements.percentage*100|default(0)}}'/>
                        <span class="input-group-addon"> % </span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <hr>
<div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
        <div class="pull-right">
            </form>
            <form method="POST" id="delete">
            <input type="hidden" name="_METHOD" value="POST"/>
            {% if genres is defined %}
            <input type="hidden" name="_METHOD" value="DELETE"/>
            {% endif %}
            <input type="submit" class="btn btn-danger" 
                   value="Delete" id="btn2"/>
        </div>
        <div class="pull-right">
            <input class="btn btn-primary" type="submit" id="btn1">
        </div>
    </div>
</div>
            <br>

<style>
  .ui-autocomplete-loading {
    background: white url("../images/GIF/ajax-loader3.gif") right center no-repeat;
  }
</style>
{% endblock %}
{% block lastScripts %}
<script src="{{siteUrl}}/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{siteUrl}}/js/bootstrap/checkbox/js/bootstrap-checkbox.js "></script>
<script>
    // Activate chosen elements
    $(".chosen-select").chosen();
    $(function(){
        $("#btn1").click(function(){  
            $("#put").submit();
        }
        $("#btn2").click(function(){  
          $("#delete").submit();
        }
    })
</script>
{% endblock %}
