{% extends 'baseAdmin.twig' %}

{% block title %}{{title|default('Administration Dashboard')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-folder"></i>{% if search %}
        <a href="/station">System</a>
    </li>
    <li>
        <i class="fa fa-search"></i> Genres
        {% else %}
            Genres
        {% endif %}
    </li>
</ol>
{% endblock %}
{% block content %}
    {% if flash.error %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Error</strong> {{flash.error}}
            </div>
        </div>
    {% endif %}
    {% if flash.success %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Success</strong> {{flash.success}}
            </div>
        </div>
    {% endif %}
    <!--<form role="form" method="POST" action="/station/search/">
        <div class="row">
            <div class="form-group input-group">
                <input type="text" class="form-control" name="q" 
                       {% if search %}
                           value="{{search}}"
                       {% endif %}>
                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
            </div>
        </div>
    </form>-->
    <table class='table table-bordered table-hover' >
        <thead>
            <th>Name</th>
            <th>GovReq</th>
            <th>PlPerc</th>
            <th>Edit</th>
        </thead>
        <tbody>
            {% for id,genre in genres %}
                <tr>
                    <td>{{id}}</td>
                    {% if genre.governmentRequirements.type == 0 %}
                        <td>{{genre.governmentRequirements.percentage*100}}%</td>
                    {% else %}
                        <td>{{genre.governmentRequirements.numeric*100}}%</td>
                    {% endif %}
                    {% if genre.playlistRequirements.type == 0 %}
                        <td>{{genre.playlistRequirements.percentage*100}}%</td>
                    {% else %}
                        <td>{{genre.playlistRequirements.numeric*100}}%</td>
                    {% endif %}
                    <td><a href="{{callsign}}/{{id|lower}}"><i class="fa fa-edit"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
        <div class="pull-right">
            <a class="btn btn-success" href="{{callsign}}">Refresh</a>
        </div>
    </div>
</div>
{% endblock %}
