{% extends 'baseAdmin.twig' %}
{% block headScripts %}
    <style>
        .donut200{
            height:200px;
            width: 200px;
        }
        .ui-autocomplete-loading {
            background: white url("{{siteUrl}}/images/GIF/ring24.gif") right center no-repeat;
        }

        /*
        Sepcial fix for chosen scrolling left... https://github.com/harvesthq/chosen/issues/1410
        */
        .chosen-container .chosen-drop {
            left:0;
            opacity:0;
            height:0;
            overflow: hidden;
        }
        .chosen-container.chosen-with-drop .chosen-drop {
            opacity:1;
            height:auto;
        }
    </style>
    <link rel="stylesheet" hred="{{siteUrl}}/css/bootstrapAutoCompleteCompatibility.css"/>
    <link rel="stylesheet" href="{{siteUrl}}/js/chosen.css">
    <link rel="stylesheet" href="{{siteUrl}}/js/bootstrap/checkbox/css/bootstrap-checkbox.css">
    <link rel="stylesheet" href="{{siteUrl}}/js/jquery/css/smoothness/jquery-ui-1.10.0.custom.min.css"/>
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-line-chart"></i>{% if search %}
        <a href="/station">System</a>
    </li>
    <li>
        <i class="fa fa-search"></i> Library
        {% else %}
            Library
        {% endif %}
    </li>
</ol>
{% endblock %}
{% block content %}
    {% if flash.error %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Error</strong> {{flash.error}}
            </div>
        </div>
    {% endif %}
    {% if flash.success %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Success</strong> {{flash.success}}
            </div>
        </div>
    {% endif %}
    <div class="row" id="error" style="display: none">
        <div class="alert alert-danger">
            <strong>Error: </strong><span id="errorText">TEST</span>
        </div>
    </div>
    <form role="form" method="GET">
        <div class="row">
            <div class="form-group input-group" style="z-index: 0;">
                <div class="input-group-addon">CSV Library File</div>
<input type="file" required class="form-control text-center" name="csvFile" id="input"/>
                <span class="input-group-btn"><button class="btn btn-default" type="submit" id="loadHeaders">
                        <i class="fa fa-calculator"></i>&nbsp;Map Headers</button></span>
            </div>
        </div>
        <div>
            <div id="matchArea">
            </div>
            <div id="matchFooter">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="pull-right">
                            <input type="button" class="btn btn-default" value="Process" id="process"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" method="POST">
    <table class='table table-bordered table-hover' style="background-color: ghostwhite">
        <thead id="head">

        </thead>
        <tbody id="list">
        </tbody>
    </table>
<div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
        <div class="pull-right">
            <input type="submit" class="btn btn-success" value="Submit"/>
        </div>
    </div>
</div>
    </form>
{% endblock %}
{% block lastScripts %}
<script src="{{siteUrl}}/js/chosen.jquery.min.js"></script>
<script src="{{siteUrl}}/vendor/mholt/papaparse/papaparse.js"></script>
<script src="{{siteUrl}}/vendor/glench/fuzzyset.js/lib/fuzzyset.js"></script>
<script type="text/javascript" src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{siteUrl}}/TPSBIN/JS/library/bulkUtils.js"></script>
<script type="text/javascript" src="{{siteUrl}}/js/bootstrap/checkbox/js/bootstrap-checkbox.js "></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <div id="dialog-confirm" title="Confirm Overwrite">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;">
        </span>All changes will be removed and reprocessed, this is irreversible. Are you sure?</p>
    </div>
<script>
    $(function() {
        console.log(expected.length);
        for(var key in expected){
            if(!expected.hasOwnProperty(key)) continue;
            var val = expected[key];
            var panel = $("#matchArea");
            panel.hide();
            panel.append("<div id='ma_"+key+"' class='row col-md-4'></div>");
            var pcont = $("#ma_"+key);
            pcont.append("<div class='form-group input-group' style='z-index: 0;' id='ma_"+key+"_cont'></div>");
            var inGroup = $("#ma_"+key+"_cont");
            inGroup.append("<div class='input-group-addon'>"+expected[key]+"</div>");
            inGroup.append("<select class='form-control' id='ma_"+key+"_sel'></select>");
        }
        buildHeader();
        $('#loadHeaders').click(function()
        {
            if ($(this).prop('disabled') == "true")
                return;

            stepped = 0;
            rowCount = 0;
            errorCount = 0;
            firstError = undefined;

            var config = standardConfig(1, mapHeaders);
            var input = $('#input').val();

            // Allow only one parse at a time
            $(this).prop('disabled', true);
            console.log("--------------------------------------------------");

            if (!$('#input')[0].files.length)
            {
                alert("Please choose at least one file to parse.");
                return enableButton();
            }

            $('#input').parse({
                config: config,
                before: function(file, inputElem)
                {
                    start = now();
                    console.log("Parsing file...", file);
                },
                error: function(err, file)
                {
                    console.log("ERROR:", err, file);
                    firstError = firstError || err;
                    errorCount++;
                },
                complete: function()
                {
                    end = now();
                    printStats("Done with all files");
                }
            });
        });
        function verifyShortCode(ident){
            var obj = $("#"+ident);
            var onDate = $("#ONP_"+ident).datepicker('getDate');
            var offDate = $("#OFP_"+ident).datepicker('getDate');
            var error = $("#error");
            var errorText = $("#errorText");
            var val = obj.val()
            console.log("checking "+ident+" for code "+val);
            $.ajax({
                url: "../shortcode/valid",
                data: {
                    "code": val,
                    "startDate": onDate.toJSON().substring(0,10),
                    "endDate": offDate.toJSON().substring(0,10),
                    //"startDate": onDate.getFullYear()+"-"+
                    //        onDate.getMonth()+"-"+onDate.getDay(),
                    //"endDate": offDate.getFullYear()+"-"+
                    //        offDate.getMonth()+"-"+offDate.getDay()
                },
            }).error(function (data){
                $("#DIV_"+ident).addClass("has-error");
                errorText.html(data.responseText);
                error.show();
            }).success(function (data){
                $("#DIV_"+ident).removeClass();
                errorText.html("Validation OK");
                error.hide();
            })
        }
        $('#process').click(function()
        {
            if ($(this).prop('disabled') == "true")
                return;
            if($("#list").html().trim() != ""){
                $( "#dialog-confirm" ).dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "confirm": function() {
                            $("#list").html("");
                            $( this ).dialog( "close" );
                            processRows();
                        },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                            return;
                        }
                    }
                });
            }
            else
            {
                processRows();
            }
        });
        // Activate chosen elements
        $( ".datepicker" ).datepicker({
            numberOfMonths: 3,
            showButtonPanel: true,
            dateFormat: "yy-mm-dd"
        });
        $( ".datepicker4m" ).datepicker({
            numberOfMonths: 4,
            showButtonPanel: true,
            dateFormat: "yy-mm-dd"
        });
        var cache = {};
        $(".autocomplete").autocomplete({
            source: function( request, response ) {
                var ident = $(this.element).prop("id");
                console.log(ident);
                var term = request.term;
                if ( term in cache ) {
                  response( cache[ term ] );
                  return;
                }
                var url = "../shortcode/available/"+
                        $("#GC_"+ident).text().trim()+
                        "?format="+$("#FMT_"+ident).text().trim()+
                        "&limit=12";
                console.log(url);
                $.getJSON( url,
                request, function( data, status, xhr ) {
                    console.log(data);
                    cache[ term ] = data;
                    response( data );
                });
            }
        });
        $(".autoSelect").on("click", function () {
            $(this).select();
        });
        $("#process").prop('disabled', true);
        console.log("triggering ajax loads");
        getGenres();
        getLabels();
        getCategories();
        getSchedules();
        getFormats();
        getRegions();
        console.log("all ajax calls triggered");
      });
</script>
{% endblock %}
