{% extends 'baseAdmin.twig' %}
{% block headScripts %}
	<link href="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.css"
		  rel="stylesheet" type="text/css"/>
	<link href="{{siteUrl}}/js/chosen.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% set firstStation = station|first %}
{% block title %}{{title|default('Program')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
	</li>
	<li class="active">
		<i class="fa fa-tasks"></i> <a href="/">Program</a>
	</li>
	<li class="active">
		<a href="/programs/new"><i class="fa fa-plus-square-o"></i> New Program</a>
	</li>
</ol>
{% endblock %}
{% block content %}
<div class="container">
	<form role="form" {% if program.id is null %}
		  method="POST" action="./create">
		{% else %}
			method="POST" action="./{{program.id}}"> <!-- PUT NOT YET SUPPORTED BY BROWSER -->
			<input type="hidden" value="{{program.id}}" name="name" />
		{% endif %}
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="programName">Program Name</label>
					<input type='text' class="form-control" id='progName' name="progName" value="{{progName}}"/>
			   </div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="station">Station</label>
					<select class="form-control  chosen-select" id="station" name="station">
					{% for callsign,name in station %}
						<option value='{{callsign}}' {% if sessionStation == callsign %} selected {% endif %} >
							   {{name|default('Unknown station')}}
						</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="length">Length (min)</label>
					<input type='text' class="form-control" id='length' name="length" value="{{length}}"/>
			   </div>
			</div>
		</div>
		 <div class="row">
		 
			<div class="col-sm-4">
				<div class="form-group">
					<label for="syndicate">Sydicate Source</label>
					<input type='text' class="form-control" id='syndicate' name="syndicate" value="{{syndicate}}"/>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="host">Host</label>
					<select class="form-control  chosen-select" id="host" name="host">
						{% for alias,name in hosts %}
							<option value='{{alias}}'>
								   {{name|default('Unknown Host')}}</option>
						{% endfor %}
					</select>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="genre">Genre</label>
					<select class="form-control  chosen-select" id="genre" name="genre">
						{% for key,value in genre %}
							<option value='{{value}}'>
								   {{value|default('Unknown genre')}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="weight">Weight</label>
					<input type='text' class="form-control" id='weight' name="weight" value="{{weight ?? 1}}"/>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group pull-right">
					{% if program.id is not null %}
						<input type="hidden" name="_METHOD" value="PUT"/>
					{% endif %}
					<button id="submit" type="submit" class="btn btn-success pull-down">Submit</button>
				<!--<button type="reset" class="btn btn-warning">Reset</button>-->
				</div>
			</div>

		</div>
	</form>
</div>
{% endblock %}
{% block lastScripts %}
	<script src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
	<script src="{{siteUrl}}/js/chosen.jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$('.pull-down').each(function() {
				$(this).css('margin-top', $(this).parent().height()-$(this).height())
			});
			$(".chosen-select").chosen({disable_search_threshold: 10}).change(
				function(event){
					if(event.target == this){
						var program = $(this).val();
						if(program.length < 1){
							$("#submit").prop('disabled',true);
						}
						else{
							$("#submit").prop('disabled',false);
					}
					}
				});
		});
	</script>
{% endblock %}
