{% extends 'baseAdmin.twig' %}
{% block headScripts %}
    <link href="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="{{siteUrl}}/js/chosen.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% set firstStation = station|first %}
{% block title %}{{title|default('Program')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-tasks"></i> <a href="/">Program</a>
    </li>
    <li class="active">
        <a href="/programs/new"><i class="fa fa-plus-square-o"></i> New Program</a>
    </li>
</ol>
{% endblock %}
{% block content %}
<div class="container">
    <form role="form" {% if program.id is null %}
          method="POST">
        {% else %}
            method="POST" action="./{{program.id}}"> <!-- PUT NOT YET SUPPORTED BY BROWSER -->
            <input type="hidden" value="{{program.id}}" name="name" />
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
            	<div class="form-group">
	                <label for="programName">Program Name</label>
	                <input type='text' class="form-control" id='progName' name="progName" value="{{progName}}"/>
               </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="station">Station</label>
                    <select class="form-control  chosen-select" id="station">
                    {% for key,value in station %}
                        <option value='{{value.callsign}}{% if sessionStation == value.callsign %} selected {% endif %}'>
                               {{value.name|default('Unknown station')}}
                        </option>
                    {% endfor %}
                	</select>
                </div>
            </div>
            <div class="col-sm-3">
            	<div class="form-group">
	                <label for="length">Length (min)</label>
	                <input type='text' class="form-control" id='length' name="length" value="{{length}}"/>
               </div>
            </div>
        </div>
         <div class="row">
         
         	<div class="col-sm-4">
            	<div class="form-group">
	                <label for="syndicate">Sydicate Source</label>
	                <input type='text' class="form-control" id='syndicate' name="syndicate" value="{{syndicate}}"/>
               </div>
            </div>
            <div class="col-sm-2">
            	<div class="form-group">
	                <label for="host">Host</label>
	                <input type='text' class="form-control" id='host' name="host" value="{{host}}"/>
               </div>
            </div>
            <div class="col-sm-2">
	            <div class="form-group">
	                <label for="genre">Genre</label>
	                <select class="form-control  chosen-select" id="genre">
	                    {% for key,value in genre %}
	                        <option value='{{value}}'>
	                               {{value|default('Unknown genre')}}</option>
	                    {% endfor %}
	                </select>
	            </div>
        	</div>
            <div class="col-sm-2">
            	<div class="form-group">
	                <label for="host">Weight</label>
	                <input type='text' class="form-control" id='wieght' name="wieght" value="{{wieght}}"/>
               </div>
            </div>
			<div class="col-sm-2">
                <div class="form-group pull-right">
                    {% if episode.id is not null %}
                        <input type="hidden" name="_METHOD" value="PUT"/>
                    {% endif %}
                    <button id="submit" type="submit" class="btn btn-success pull-down">Submit</button>
                <!--<button type="reset" class="btn btn-warning">Reset</button>-->
                </div>
            </div>

        </div>
    </form>
</div>
{% endblock %}
{% block lastScripts %}
    <script src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
    <script src="{{siteUrl}}/js/chosen.jquery.min.js"></script>
    <script>
        Date.prototype.yyyymmdd = function() {
            var yyyy = this.getFullYear().toString();
            var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
            var dd  = this.getDate().toString();
            return yyyy +'-'+ (mm[1]?mm:"0"+mm[0]) +'-'+ (dd[1]?dd:"0"+dd[0]); // padding
        };
        var today = new Date();
        var todayString = today.yyyymmdd();

        function changedType(){
            var type = $("#type option:selected").val();
            switch(type){
                case '0':
                    $("#datePickerAir").prop('disabled',false);
                    $("#datePickerRecord").prop('disabled',false);
                    $("#datePickerRecord").prop('required',false);
                    $("#datePickerRecord").val('');
                    break;
                case '1':
                    $("#datePickerAir").prop('disabled',false);
                    $("#datePickerAir").prop('required',true);
                    if($("#datePickerAir").val() === todayString){
                        $("#datePickerAir").val('');
                    }
                    $("#datePickerRecord").prop('required',true);
                    $("#datePickerRecord").val(todayString);
                    $("#datePickerRecord").prop('disabled',false);
                    break;
                case '2':
                    $("#datePickerAir").prop('disabled',true);
                    $("#datePickerAir").prop('required',false);
                    $("#datePickerRecord").prop('disabled',false);
                    $("#datePickerRecord").prop('required',true);
                    $("#datePickerRecord").val(todayString);
                    break;
                default:
                    $("#datePickerRecord").prop('disabled',false);
                    $("#datePickerRecord").prop('required',true);
                    $("#datePickerRecord").val(todayString);
                    $("#datePickerAir").prop('disabled',false);
                    $("#datePickerAir").prop('required',true);
                    $("#datePickerAir").val(todayString);
            }
        }

        $(document).ready(function(){
            $.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
            $("#datePickerAir").datepicker();
            $("#datePickerRecord").datepicker();

            $('.pull-down').each(function() {
                $(this).css('margin-top', $(this).parent().height()-$(this).height())
            });
            $(".chosen-select").chosen({disable_search_threshold: 10}).change(
                    function(event){
                        if(event.target == this){
                            var program = $(this).val();
                            if(program.length < 1){
                                $("#submit").prop('disabled',true);
                            }
                            else{
                                $("#submit").prop('disabled',false);
                            }
                        }
                    });
            changedType();
            //changedProgram();
        });
    </script>
{% endblock %}
