<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title area|default('TPS: ')~" "~title|default('Dashboard') %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{siteUrl}}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/album-info.css" rel="stylesheet">

    <!-- Treant CSS -->
    <link href="{{siteUrl}}/vendor/fperucic/treant-js/Treant.css"
          rel="stylesheet" type="text/css"/>

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{siteUrl}}/vendor/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- DataTable CSS -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

    {% block headScripts %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        {% block navigation %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if not (showLogo is defined and showLogo == false) %}
                <a class="navbar-brand" href="/"><img src="{{logoUrl|default('/images/logo.png')}}" style="height: 20px;" title="logo"></a>
                {% endif %}
                <a class="navbar-brand" href="/">{{siteTitle|default('TPS Broadcast')|upper}}</a>
            </div>
            <!-- Top Menu Items -->
            {% block topMenu %}
            <ul class="nav navbar-right top-nav">
                <!-- Messages -->
                {% block messages %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i {% if messages %}class="fa fa-envelope" style="color:yellow" {% else %} class="fa fa-envelope-o" {% endif %}></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        {% if not messages %}
                            {% set messages = [{'image':{'url':'https://placehold.it/50x50','alt':''},
                                                'user':{'name':user.name},'time':date('now'),'content':'No Messages'}] %}
                        {% endif %}
                        {% for message in messages %}
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="{{message.image.url}}" alt="{{message.image.alt}}">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{user.name}}</strong>
                                        </h5>

                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> {{"now"|date('Y-m-d H:m')}} UTC</p>
                                            <p>{{message.content}}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                {% endblock messages %}
                <!-- Notifications -->
                {% block notifications %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">No Alerts <span class="label label-default">Beta 0.6</span></a>
                        </li>
                        <!--<li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>-->
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                {% endblock notifications %}
                <!-- Notifications -->
                {% block stations %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i id="stationSelectorIcon" class="fa fa-bars"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            {% for callsign, station in environmentAllStations %}
                                <li>
                                    <a href="javascript: changeStation('{{ callsign }}')">
                                        {% if callsign == environmentCurrentStation %}
                                            <span class="label label-success"><i class="fa fa-check-circle"></i></span>
                                        {% else %}
                                            <span class="label label-default"><i class="fa fa-circle"></i></span>
                                        {% endif %}
                                        {{ station }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li>
                                <a href="/station/">Manage</a>
                            </li>
                        </ul>
                    </li>
                {% endblock stations %}
                <!-- User Menu -->
                {% block userMenu %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{userName|default('Unknown User')|title}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/user/{{userId|default(0)}}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="/user/{{userId|default(0)}}/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="/user/{{userId|default(0)}}/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                {% endblock userMenu%}
            </ul>
            {% endblock topMenu%}
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            {% block sideMenu %}
                {% include 'adminSideMenu.twig' %}
            {% endblock sideMenu%}
            <!-- /.navbar-collapse -->
        </nav>
        {% endblock navigation %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                {% block heading %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{area|default('Dashboard')}} <small>{{title|default('Statistics Overview')}}</small>
                        </h1>
                        {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            {% for page in pages %}
                                <li class="active">
                                    <i class="fa fa-dashboard"></i> Dashboard
                                </li>
                            {% endfor %}
                        </ol>
                        {% endblock breadcrumb %}
                    </div>
                </div>
                {% endblock heading%}
                <!-- /.row -->

                {% block content %}
                {% endblock content %}
                <!-- /.row -->
                {% block pagination %}
                    {% if page is defined or pages is defined or limit is defined %}
                        <nav>
                        <ul class="pagination">
                          {% set limit = limit?:25 %}
                          {% set page = page?:1 %}
                          {% set startPage = startPage?:(page|default(1)-5) %}
                          {% if startPage < 2 %}
                              {% set controlPrevious = "disabled" %}
                              {% set startPage = 1 %}
                          {% else %}
                              {% set controlPrevious = "" %}
                          {% endif %}
                          {% set endPage = min(pages, page+5)|default(startPage) %}
                          {% if page >= endPage %}
                              {% set endPage = page %}
                              {% set controlNext = "disabled" %}
                          {% else %}
                              {% set controlNext = "" %}
                          {% endif %}
                          <li class="{{controlPrevious}}"><a
                                {% if controlPrevious == "" %}
                                    href="?p={{page-1}}"
                                {% else %}
                                    href="#"
                                {% endif %}
                                aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                          {% for i in range(startPage, endPage) %}
                              <li {% if i == page %}
                                  class="active"
                                  {% endif %}
                                  >
                              <a href="?p={{i}}&l={{limit}}">{{i}} <span class="sr-only">
                                      {% if i == page %}
                                          (current)
                                      {% else %}
                                          {{i}}
                                      {% endif %}
                                  </span></a></li>
                          {% endfor %}
                          <li class="{{controlNext}}"><a
                                {% if controlNext == "" %}
                                    href="?p={{page+1}}"
                                {% else %}
                                    href="#"
                                {% endif %}
                                aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                    {% endif %}
                {% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <style>
        .modal-backdrop {
            z-index: -1;
        }
    </style>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- dataTable JavaScript -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <!-- template specific JavaScript -->
    {% block lastScripts %}
    {% endblock %}

    <script>
    $(function () {
        setNavigation();
    });

    function setActiveIfHref(uri){
        var located = false;
        $(".nav a").each(function () {
            var href = $(this).attr('href');
            if (uri === href) {
                $(this).parents('li').addClass('active');
                $(this).parents('ul').addClass('in');
                //$(this).parent().prev('a').attr('aria-expanded','true');
                $(this).closest('a').parent().addClass('focus');
                //$(this).closest('a').addClass('in');
                //var parents = $(this).parents().map(function(){return this.tagName;}).get().join(", ");
                //alert(parents);
                // LI UL LI UL
                located = true;
            }
        });
        return located;
    }

    function changeStation(station){
        x = $("#stationSelectorIcon");
        $.ajax({
            url: '/environment/station',
            type: 'PUT',
            data: { callsign: station},
            beforeSend: function(){
                //x.switchClass("fa-bars", "fa-circle-o-notch");
                x.removeClass("fa-bars");
                x.addClass("fa-circle-o-notch");
                x.addClass("fa-spin");
                x.css("color", "orange");

            },
            success: function (result) {
                location.reload();
            },
            error: function (result) {
                x.switchClass("fa-circle-o-notch", "exclamation");
                x.removeClass("fa-spin");
            }
        });
    }

    function setNavigation() {
        var path = window.location.pathname;
        //path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);
        var located = false;
        if(setActiveIfHref(path)){
            located = true;
        }
        else{
            path = path.replace(/\/$/, "");
            var origPath = path;
            if(setActiveIfHref(path)){
                located = true;
            }
        }
        if(!located){
            setActiveIfHref('');
        }
    }

    </script>

    <!-- Morris Charts JavaScript -->
    <!-- javascript -->
    <script src="{{siteUrl}}/js/plugins/morris/raphael.min.js"></script>
    <script src="{{siteUrl}}/vendor/fperucic/treant-js/Treant.js"></script>
    <script src="{{siteUrl}}/js/plugins/morris/morris.min.js"></script>
    <script src="{{siteUrl}}/js/plugins/morris/morris-data.js"></script>
    {% block MorrisScript %}
    {% endblock %}

</body>

</html>
