{% extends 'baseAdmin.twig' %}

{% block headScripts %}
    <style type="text/css">
        td label { 
           display: block;
           text-align: center;
        }
    </style>
{% endblock %}

{% block title %}{{title|default('Administration Dashboard')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <a href="/library/search/"><i class="fa fa-tasks"></i>{% if search %}
        Library</a>
    </li>
    <li>
        <a href="/library/search/"><i class="fa fa-search"></i> Search</a>
        {% else %}
            Library</a>
        {% endif %}
    </li>
</ol>
{% endblock %}
{% block content %}
    {% if flash.error %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Error</strong> {{flash.error}}
            </div>
        </div>
    {% endif %}
    {% if flash.success %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Success</strong> {{flash.success}}
            </div>
        </div>
    {% endif %}
    <form role="form" method="POST" action="/library/search/">
        <div class="row">
            <div class="form-group input-group">
                <input type="text" class="form-control" name="q" 
                       {% if search %}
                           value="{{search}}"
                       {% endif %}>
                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
            </div>
        </div>
    </form>
    <form role="form" method="POST" action="/library/batch">
    <input type="hidden" name="_METHOD" value="PUT"/>
    <table class='table table-bordered table-hover' >
        <thead>
            {% if permissions > 1 or BulkEdit in permssions %}
            <th>
                <label><input type="checkbox" onClick="toggle(this)"> All</label>
            </th>
            {% endif %}
            <th><i class="fa fa-barcode "></i></th>
            <th><i class="fa fa-thumbs-o-up"></i></th>
            <th>Date In</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Notes</th>
        </thead>
        <tbody>
            {% for album in albums %}
                <tr>
                    {% if permissions > 1 or BulkEdit in permssions %}
                        <td>
                            <label><input type="checkbox" name="bulkEditId[]" value="{{album.RefCode}}"> {{album.RefCode}}</label>
                        </td>
                    {% endif %}
                    <td>
                        <button type="button" onclick="location.href='/library/{{album.RefCode}}';" class="btn btn-default btn-xs">
                            {% if not (permissions > 1 or BulkEdit in permssions) %}
                                {{album.RefCode}}
                            {% else %}
                                Edit
                            {% endif %}
                        <i class="fa fa-edit" aria-hidden="true"></i></button>
                    </td>
                    <td>{% if album.status == 1 %}
                        <i class="fa fa-check-circle-o" style="color: #008000"></i>
                        {% else %}
                            <i class="fa fa-times-circle-o" style="color: #800000"></i>
                        {% endif %}</td>
                    <td>{{album.datein}}</td>
                    <td>{{album.artist}}</td>
                    <td>{{album.album}}</td>
                    <td>{{album.genre}}</td>
                    <td>{{album.year}}</td>
                    <td>{% if album.note|length > 37 %}
                        {{album.note|striptags|slice(0,37)}}...
                        {% else %}
                            {{album.note}}
                    {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if permissions > 1 or BulkEdit in permssions %}
    <div class="row">
        <span>Batch Edit</span>
        <select name="action" required id="batchSelect">
            <option value="">Select</option>
        </select>
        <span id="batchExtension"></span>
        <input type="submit" class="btn btn-primary btn-xs"/>
    </div>
        {% endif %}
{% endblock %}
{% block lastScripts %}
<script>
function toggle(source) {
    checkboxes = document.getElementsByName('bulkEditId[]');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }

function getBatchOptions(){
    var batch = $.ajax("../batch/options")
        .done(function(data){
            if ( console && console.log ) {
                console.log( data );
            }
            $.each(data,function (key, value){
                $("#batchSelect")
                    .append($("<option></option>")
                    .attr("value", key)
                    .text(value));
            });
    });
}

function batchChange(element, url){
    console.log(element);
    var val = element.val();
    if(!val){
        alert (val);
        return true;
    }
    console.log(val);
    
    var batch = $.ajax({
        url:"../batch/options/"+val, 
        dataType: "json"
    })
    .done(function(data){
        if ( console && console.log ) {
            console.log( data );
        }
        if($.type(data) === "boolean"){
            $("#batchExtension").html("");
            return true;
        }
        if ( console && console.log ) {
            console.log($.type(data));
            console.log(data.inputType);
            console.log(data.values);
        }
        if(data.inputType==="select"){
            $("#batchExtension").html(
                "<select name='value' id='beval' required>"+
                "<option>Select</option></select>");
            $.each(data.values, function(key, value){
                $("#beval")
                    .append($("<option></option>")
                    .attr("value", key)
                    .text(value));
            });
        }
        else if(data.inputType==="attribute"){
            $("#batchExtension").html(
                "Attribute: <select name='value' id='beval' required>"+
                "<option>Select</option></select>"+
                "&nbsp;<span id='beattr'></span>");
            $.each(data.values, function(key, value){
                $("#beval")
                    .append($("<option></option>")
                    .attr("value", key)
                    .attr("class", value.input)
                    .text(value.value));
            });
            
        }
        changeAttrOptions("#beval option:selected", "#beattr");
        //$("#batchExtension").html("THIS IS A TEST");
    })
    .fail(function(data){
        if ( console && console.log ) {
            console.log( data );
        }
    });
    
}

function changeAttrOptions(divId, targetObj){
    console.log("ChangeAttr"+divId.selector);
    console.log(divId);
    console.log(targetObj);
    var divId=$(divId);
    var targetObj = $(targetObj);
    var classList = divId.attr('class');//.split(/\s+/);
    console.log(classList);
    if(divId.hasClass('text')){
        console.log("TEXT");
        targetObj.html("<input type='text' name='attribute' "+
        "placeholder='attribute value' required/>");
    }
    else if(divId.hasClass("select")){
        console.log("SELECT");
        var urlVal = "../batch/options/"+divId.val();
        var data3 = $.ajax({
            url: urlVal,
            dataType: "json"
        }).done(function (data2){
            targetObj.html("<select name='attribute' id='beattersel'"+
                    "required><option>Select</option></select>");
            console.log(data2);
            $.each(data2, function(key2, value2){
                $("#beattersel")
                    .append(
                    $("<option></option>")
                    .attr("value", key2)
                    .text(value2)
                    );
            });
        }).fail(function (jqXhr, status, exception){
            console.log(status);
        });
    }
}
 
$(function () {
    getBatchOptions();
    $(document).on("change", "#batchSelect", function() {
        batchChange($("#batchSelect option:selected"));
    });
    $(document).on("change", "#beval", function() {
        console.log("setting onchange for beval");
        changeAttrOptions("#beval option:selected", "#beattr");
    });
});
</script>
{% endblock %}
