{% extends 'baseAdmin.twig' %}

{% block headScripts %}
    <style type="text/css">
        td label {
           display: block;
           text-align: center;
        }
    </style>
{% endblock %}

{% block title %}{{title|default('Administration Dashboard')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <a href="/library/search/"><i class="fa fa-tasks"></i>{% if search %}
        Library</a>
    </li>
    <li>
        <a href="/library/search/"><i class="fa fa-search"></i> Search</a>
        {% else %}
            Library</a>
        {% endif %}
    </li>
</ol>
{% endblock %}
{% block content %}
    {% if flash.error %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Error</strong> {{flash.error}}
            </div>
        </div>
    {% endif %}
    {% if flash.success %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Success</strong> {{flash.success}}
            </div>
        </div>
    {% endif %}
    
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>Minimum age:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum age:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody>
    
    <form role="form" method="POST" action="/library/batch">
    <input type="hidden" name="_METHOD" value="PUT"/>
    <table class='table table-bordered table-hover display' id='data_table'>
        <thead>
            <tr>
                <th></th>
                <th><i class="fa fa-barcode "></i></th>
                <th><i class="fa fa-thumbs-o-up"></i></th>
                <th>Date In</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th><i class="fa fa-barcode "></i></th>
                <th><i class="fa fa-thumbs-o-up"></i></th>
                <th>Date In</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>
        </tfoot>




       {# <thead>
            {% if permissions > 1 or BulkEdit in permssions %}
            <th>
                <label><input type="checkbox" onClick="toggle(this)"> All</label>
            </th>
            {% endif %}
            {% set titles = {
                'RefCode': '<i class="fa fa-barcode "></i>', 'status': '<i class="fa fa-thumbs-o-up"></i>',
                "datein": "Date In", "artist": "Artist", "album": "Album", "genre": "Genre", "year": "Year",
                "notes": "Notes"
            } %}
            {% for key, val in titles %}
                <th><a href="javascript:void(0)" onclick="changeSort(
                        '{{ key }}', '{{ sortColumn }}', '{{ sortReversed }}')"
                    >{{ val|raw }}{% if sortColumn == key %}
                            <i class="fa
                            {% if sortReversed == 1 %}
                                fa-sort-desc
                            {% else %}
                                fa-sort-asc
                            {% endif %}
                            " aria-hidden="true"></i>
                        {% endif %}</a></th>
            {% endfor %}
        </thead>
        <tbody>
            {% for album in albums %}
                <tr>
                    {% if permissions > 1 or BulkEdit in permssions %}
                        <td>
                            <label><input type="checkbox" name="bulkEditId[]" value="{{album.RefCode}}"> {{album.RefCode}}</label>
                        </td>
                    {% endif %}
                    <td>
                        <button type="button" onclick="location.href='/library/{{album.RefCode}}';" class="btn btn-default btn-xs">
                            {% if not (permissions > 1 or BulkEdit in permssions) %}
                                {{album.RefCode}}
                            {% else %}
                                Edit
                            {% endif %}
                        <i class="fa fa-edit" aria-hidden="true"></i></button>
                    </td>
                    <td>{% if album.status == 1 %}
                            <i class="fa fa-check-circle-o" style="color: #008000"> Accept</i>
                        {% else %}
                            <i class="fa fa-times-circle-o" style="color: #800000"> Pass</i>
                        {% endif %}</td>
                    <td>{{album.datein}}</td>
                    <td>{{album.artist}}</td>
                    <td>{{album.album}}</td>
                    <td>{{album.genre}}</td>
                    <td>{{album.year}}</td>
                    <td>{% if album.note|length > 37 %}
                        {{album.note|striptags|slice(0,37)}}...
                        {% else %}
                            {{album.note}}
                    {% endif %}</td>
                </tr>
            {% endfor %} #}
        </tbody>
    </table>
    {% if permissions > 1 or BulkEdit in permssions %}
    <div class="row">
        <span>Batch Edit</span>
        <select name="action" required id="batchSelect">
            <option value="">Select</option>
        </select>
        <span id="batchExtension"></span>
        <input type="submit" class="btn btn-primary btn-xs"/>
    </div>
        {% endif %}
{% endblock %}
{% block lastScripts %}
<script src="{{siteUrl}}/TPSBIN/JS/librarySearch.js"></script>
{% endblock %}
