{% extends 'baseAdmin.twig' %}
{% block headScripts %}
	<link href="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.css"
		  rel="stylesheet" type="text/css"/>
	<link href="{{siteUrl}}/js/chosen.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="{{siteUrl}}/js/jquery/css/smoothness/jquery-ui-1.10.0.custom.min.css"/>
	<link rel="stylesheet" href="{{siteUrl}}/js/timetable/styles/timetablejs.css">
    <link rel="stylesheet" href="{{siteUrl}}/js/timetable/styles/demo.css">




	<link rel="stylesheet" type="text/css" href="{{siteUrl}}/node_modules/tui-calendar/dist/tui-calendar.min.css" />

	<link rel="stylesheet" type="text/css" href="{{siteUrl}}/node_modules/tui-date-picker/dist/tui-date-picker.css" />
	<link rel="stylesheet" type="text/css" href="{{siteUrl}}/node_modules/tui-time-picker/dist/tui-time-picker.css" />


{% endblock %}
{% set firstStation = station|first %}
{% block title %}{{title|default('Traffic')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-arrow-left"></i>  <a class="back" href="#">Back</a>
    </li>
</ol>

<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
	</li>
	<li class="active">
		<i class="fa fa-fw fa-usd"></i> <a href="/traffic/search">Traffic</a>
	</li>
	<li class="active">
		<a href="/traffic/new"><i class="fa fa-plus-square-o"></i> New Requirement</a>
	</li>
</ol>
{% endblock %}
{% block content %}

	{% if flash.error %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Error</strong> {{flash.error}}
            </div>
        </div>
    {% endif %}
    {% if flash.success %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Success</strong> {{flash.success}}
            </div>
        </div>
    {% endif %}


<div class="container">
	
	<form role="form" method="POST" action="/traffic/schedule/add">
		<div class="row">
			<div class="col-sm-3" id="catSelection" >
				<label for="adId">Ad</label>
				<select name="adId" id="adId" class="form-control">
	               {% for key, ad in ads %}
		           		<option value="{{key}}"> {{ ad }} </option>
           			{% endfor %}
               	</select>
            </div>

            <div class="col-sm-2">
				<div class="form-group">
					<label for="adNumber">Hourly Limit</label>
					<input type='number' class="form-control" id='hourLimit' name="hourLimit" value="{{ad.AdId}}"/>
			   </div>
			</div>

			<div class="col-sm-2">
			    <div class="form-group">
				<label for="company" class="">Block Limit </label>
				<input type='number' class="form-control" id='blockLimit' required value="{{ad.AdName}}" name="blockLimit"/>
			    </div>
			</div>

			<div class="col-sm-2">
			    <div class="form-group">
				<label for="company" class="">Start Time </label>
				<input type='time' class="form-control" id='startTime' required value="{{ad.AdName}}" name="startTime"/>
			    </div>
			</div>
			<div class="col-sm-2">
			    <div class="form-group">
				<label for="company" class="">End Time </label>
				<input type='time' class="form-control" id='endTime' required value="{{ad.AdName}}" name="endTime"/>
			    </div>
			</div>

        </div>
        <div class="row">
        	<div class="col-sm-1">
			    <div class="form-group">
				<label for="company">Days: </label>
			    </div>
			</div>

        	<div class="col-sm-1">
			    <div class="form-group">
				<label for="Monday">Mon </label>
				<input type='checkbox' class="form-control" name="Monday"/>
			    </div>
			</div>
			<div class="col-sm-1">
			    <div class="form-group">
				<label for="Tuesday">Tue </label>
				<input type='checkbox' class="form-control" name="Tuesday"/>
			    </div>
			</div>
			<div class="col-sm-1">
			    <div class="form-group">
				<label for="Wednesday">Wed </label>
				<input type='checkbox' class="form-control" name="Wednesday"/>
			    </div>
			</div>
			<div class="col-sm-1">
			    <div class="form-group">
				<label for="Thrusday">Thr </label>
				<input type='checkbox' class="form-control" name="Thursday"/>
			    </div>
			</div>
			<div class="col-sm-1">
			    <div class="form-group">
				<label for="Friday">Fri </label>
				<input type='checkbox' class="form-control" name="Friday"/>
			    </div>
			</div>
			<div class="col-sm-1">
			    <div class="form-group">
				<label for="Saturday">Sat </label>
				<input type='checkbox' class="form-control" name="Saturday"/>
			    </div>
			</div>	
			<div class="col-sm-1">
			    <div class="form-group">
				<label for="Sunday">Sun </label>
				<input type='checkbox' class="form-control" name="Sunday"/>
			    </div>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-1">
				<label for="company">&nbsp; </label>
				<input type="submit" value="Submit" class="btn btn-primary">
			</div>

        </div>

	</form>
	<hr>

	<div id="calendar" style="height: 800px;"></div>

</div>
{% endblock %}
{% block lastScripts %}
	<script src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
	<script src="{{siteUrl}}/js/chosen.jquery.min.js"></script>
	<script src="{{siteUrl}}/TPSBIN/JS/Advertisements/trafficNew.js"></script>
	<script src="{{siteUrl}}/js/Datejs-master/build/date.js"></script>



    <link rel="stylesheet" type="text/css" src="{{siteUrl}}/node_modules/tui-code-snippet/dist/tui-code-snippet.js" />
	<link rel="stylesheet" type="text/css" src="{{siteUrl}}/node_modules/tui-calendar/dist/tui-calendar.js" />

	<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>



	<script>

	$( ".datepicker" ).datepicker({
            numberOfMonths: 3,
            showButtonPanel: true,
            dateFormat: "yy-mm-dd"
        });

	$(document).ready(function(){
		$('.pull-down').each(function() {
			$(this).css('margin-top', $(this).parent().height()-$(this).height())
		});

        $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
            $( "#probEndDate" ).datepicker({
                changeMonth: true,
                changeYear: true
            });
	});

	//back link
	$(document).ready(function(){
		$('a.back').click(function(){
			parent.history.back();
			return false;
		});
	});

	</script>

	<script>
	var Calendar = tui.Calendar;
  var cal = new tui.Calendar('#calendar', {
    defaultView: 'week',
    taskView: false,
    scheduleView: 'time',  // Can be also ['allday', 'time']
    useDetailPopup: true,
    // isReadOnly: true
  });


cal.createSchedules([

	{% for key, ad in rotation %}
	{
        id: '{{ad.RotationNum}}',
        calendarId: '1',
        title: '{{ad.AdName}}',
        category: 'time',
        body: 'Hourly Limit: {{ad.HourlyLimit}},  Block Limit: {{ad.BlockLimit}}' ,
        dueDateClass: '',
        start: Date.{{ad.Day|lower}}().at('{{ad.startTime}}'),
        end: Date.{{ad.Day|lower}}().at('{{ad.endTime}}')
    },

	{% endfor %}
]);

	cal.on('beforeDeleteSchedule', function(event) {
	    var schedule = event.schedule;
	    $.ajax({
            url: "/traffic/schedule/delete/" + schedule.id,
            type: 'POST',
            }).done(function(data) {
            	cal.deleteSchedule(schedule.id, "1", false);
            }).fail(function(data){
                alert(JSON.stringfy(data));
            });
	});
    </script>


{% endblock %}
