{% extends 'baseAdmin.twig' %}
{% block headScripts %}
	<link href="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.css"
		  rel="stylesheet" type="text/css"/>
	<link href="{{siteUrl}}/js/chosen.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="{{siteUrl}}/js/jquery/css/smoothness/jquery-ui-1.10.0.custom.min.css"/>
{% endblock %}
{% set firstStation = station|first %}
{% block title %}{{title|default('Traffic')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-arrow-left"></i>  <a class="back" href="#">Back</a>
    </li>
</ol>

<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
	</li>
	<li class="active">
		<i class="fa fa-fw fa-usd"></i> <a href="/traffic/search">Traffic</a>
	</li>
	<li class="active">
		<a href="/traffic/new"><i class="fa fa-plus-square-o"></i> New Traffic</a>
	</li>
</ol>
{% endblock %}
{% block content %}

	{% if flash.error %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Error</strong> {{flash.error}}
            </div>
        </div>
    {% endif %}
    {% if flash.success %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Success</strong> {{flash.success}}
            </div>
        </div>
    {% endif %}


<div class="container">
	<form role="form" method="POST" {% if ad.AdId is not null %} 
	action="/traffic/update" {% else %} action="./create" {% endif %}>
		<div class="row">
			<div class="col-sm-3" id="catSelection" >
				<label for="Category">Category</label>
				<select name="cat" id="Category" class="form-control chtype" {{ad.AdId is defined ? "disabled" : ""}}>
	               <option value="53" {{(ad.Category == 53)? 'selected':''}}>53, Sponsored Promotion</option>
	               <OPTION value="52" {{(ad.Category == 52)? 'selected':''}}>52, Sponsor Indentification</OPTION>
	               <OPTION VALUE="51" {{(ad.Category == 51)? 'selected': (ad.Category is null)? 'selected':''}}>51, Commercial</OPTION>
	               <option value="45" {{(ad.Category == 45)? 'selected':''}}>45, Show Promo</option>
	               <option value="44" {{(ad.Category == 44)? 'selected':''}}>44, Programmer/Show ID</option>
	               <option value="43" {{(ad.Category == 43)? 'selected':''}}>43, Musical Station ID</option>
	               <option value="12" {{(ad.Category == 12)? 'selected':''}}>12, PSA/Spoken Word Other</option>
               	</select>
               	<input type="hidden" id="catUpdate" name="catUpdate" value="{{ad.Category}}" />
            </div>

            <div class="col-sm-1">
				<div class="form-group">
					<label for="adNumber">Ad #</label>
					<input type='text' readonly class="form-control" id='adNumber' name="adNumber" value="{{ad.AdId}}"/>
			   </div>
			</div>

			<div class="col-sm-2">
				    <div class="form-group">
					<label for="company">Ad Name / Title </label>
					<input type='text' class="form-control" id='adName' required value="{{ad.AdName}}" name="adName"/>
				    </div>
				</div>

			<div class="col-md-2">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="startDate">Start Date</label>
                        <input type="text" class="form-control datepicker" required
                               name="startDate" id="startDate" placeholder="2000-01-01"
                               pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                               value="{{ ad.StartDate |date('Y-m-d') }}">
                    </div>
                </fieldset>
            </div>
             <div class="col-md-2">
                <fieldset>
                    <div id="sort_group" class="form-group input-group">
                        <label for="endDate">End Date</label>
                        <input type="text" class="form-control datepicker" required
                               name="endDate" id="endDate" placeholder="2000-01-02"
                               pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                               value="{{ ad.EndDate ?? ad.EndDate | date_modify('+1 year')|date('Y-m-d') }}">
                                
                    </div>
                </fieldset>
          	</div>
          	<div class="col-sm-1">
			    <div class="form-group">
				<label for="active">Active</label>
				<input type='checkbox' class="form-control" id='active' value ="1" name="active"
				{{ad.Active == 1 ? 'checked' : ''}} />
			    </div>
			</div>
        </div>

        <!-- common part end -->

        <div class="row" id="psaClientPart">
        	<div id="spokenPart" style="display: none">
	        	<div class="col-sm-1" id="psaChckBox" >
				    <div class="form-group">
					<label for="psa">PSA</label>
					<input type='checkbox' class="form-control" id='psa' value ="1" name="psa"
					{{ad.psa == 1 ? 'checked' : ''}}/>
				    </div>
				</div>

				<div id="psaChecked" style="display: none">
					<div class="col-sm-2">
			       		<label for="lang">Language</label>
						<input list="lang" name="lang" value="{{ad.Language}}" value="English" size="10" maxlength="40" class="form-control input-sm"/>
			           	<datalist id="lang">
			           		<option value="English">
			           		<option value="French">
			          	</datalist>
			        </div>
				</div>
			</div>
			<!-- Spoken Part End -->
			
			<div id="clientPart">
				<div class="col-sm-1">
				    <div class="form-group">
					<label for="clientID">Client ID</label>
					<input type='text' class="form-control" readonly id='clientID' value="{{ad.ClientID}}" name="clientID"/>
				    </div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
					<label for="lang">Client</label>
						<input list="client" name="client" size="10" value="{{client.Name}}" maxlength="40" class="form-control"/>
			           	<datalist id="client">
			           		{% for key, client in clients %}
			           		<option data-value="{{key}}">{{client}} </option>
			           		{% endfor %}
			          	</datalist>
				   </div>
				</div>

				<div class="col-sm-2">
				    <div class="form-group">
					<label for="company">Company</label>
					<input type='text' class="form-control" id='company' value="{{client.companyName}}" name="company"/>
				    </div>
				</div>

				<div class="col-sm-2">
				    <div class="form-group">
					<label for="phone">Phone Number</label>
					<input type='text' class="form-control" id='phone' value="{{client.PhoneNumber}}" name="phone"/>
				    </div>
				</div>
				<div class="col-sm-2">
				    <div class="form-group">
					<label for="email">Email</label>
					<input type='text' class="form-control" id='email' value="{{client.email}}" name="email"/>
				    </div>
				</div>
			</div>
			<!-- Client part end -->

		</div>
		
		<div id="showPromoPart" style="display: none">
		<div class="row" >
			<div class="col-sm-2">
			    <div class="form-group">
				<label for="song">Show Name</label>
				<input type='text' class="form-control" id='showName' value="{{promo.name}}" name="showName"/>
			    </div>
			</div>
			<div class="col-sm-2">
                <label for="showDate">Day</label>
                <select name="showDate" id="showDate" class="form-control chtype">
	               <option value="Mon">Mon</option>
	               <OPTION value="Tue">Tue</OPTION>
	               <OPTION VALUE="Wed">Wed</OPTION>
	               <option value="Thu">Thu</option>
	               <option value="Fri">Fri</option>
	               <option value="Sat">Sat</option>
	               <option value="Sun">Sun</option>
               	</select>
            </div>
            <div class="col-sm-2">
                <label for="showTimeStart">Start</label>
                <input type='time' class="form-control" id='showTimeStart'
                       name="showTimeStart"
                       value="{{showTime|default("+1 hour"|date('H:00', firstStation.timezone))}}"/>
            </div>
            <div class="col-sm-2">
                <label for="showTimeEnd">End</label>
                <input type='time' class="form-control" id='showTimeEnd'
                       name="showTimeEnd"
                       value="{{showTime|default("+1 hour"|date('H:00', firstStation.timezone))}}"/>
            </div>
            <div class="col-sm-1">
            	<label for="insertShow"> &nbsp;</label>
                <input id="insertShow" type="button" class="btn btn-primary" value="Insert"/>
            </div>
        </div>
        <div class="row">
       		 <div class="container">
       		 	
            	<div class="col-md-3">
	            	<table class="table" id="showPromoTimeTable">
	            		<tbody>
	            		<tr></tr>
	            		{% for key, times in promo %}
		           			{% for key2, time in times %}
		           		<tr>
							<td>
							<input type="hidden" name="showDayVal[]" value="{{key}}">
								{{key}} 
							</td>
							<td>
							<input type="hidden" name="showTimeStartVal[]" value="{{time[0]}}">
							<input type="hidden" name="showTimeEndVal[]" value="{{time[1]}}">
								{{time[0]}} ~ {{time[1]}}
							</td>
							<td>
								<button type="button" class="btn btn-sm btn-danger rmvBtn">
								      <span class="glyphicon glyphicon-trash"></span>
						  		</button>
							</td>
						</tr>
							{% endfor %}
		           		{% endfor %}

	            		</tbody>
	            	</table>
            	</div>
            </div>
    	</div>


		</div>
		<!-- Show Promo part end -->


		<div class="row" id="paidAdPart">

			<div class="col-sm-1">
			    <div class="form-group">
				<label for="friend">Friend</label>
				<input type='checkbox' class="form-control" id='friend' value ="1" name="friend"
				{{ad.Friend == 1 ? 'checked' : ''}}/>
			    </div>
			</div>
			<div id="playCountPart">
				<div class="col-sm-2">
				    <div class="form-group">
					<label for="maxPlayCount">Max Play Count</label>
					<input type='number' class="form-control" id='maxPlayCount' value="{{ad.maxPlayCount}}" name="maxPlayCount"/>
				    </div>
				</div>

				<div class="col-sm-2">
				    <div class="form-group">
					<label for="maxDailyPlayCount">Max Daily Play Count</label>
					<input type='number' class="form-control" id='maxDailyPlayCount' value="{{ad.maxDailyPlayCount}}" name="maxDailyPlayCount"/>
				    </div>
				</div>
				<div class="col-sm-2">
				    <div class="form-group">
					<label for="assignedShow">Assigned Show</label>
					<select class="form-control" id='assignedShow' value="{{ad.Length}}" name="assignedShow"/>
					<option></option>
		           		{% for key, program in programs %}
		           		<option value="{{key}}" {{ad.assignedShow == key ? 'selected' : ''}} > {{program.name}} </option>
		           		{% endfor %}
		           	</select>
				    </div>
				</div>

				<div class="col-sm-2">
	                <label for="assignedHour">Assigned Time</label>
	                <input type='time' class="form-control" id='assignedHour'
	                       name="assignedHour"
	                       value="{{ad.assignedHour|default("+1 hour"|date('H:00', firstStation.timezone))}}"/>
           		</div>
			</div>
		</div>
		<!-- Paid Ad part end -->
		<div class="row" id="sponsor" style="display: none">

			<div class="col-sm-2">
				    <div class="form-group">
					<label for="assignedShowSponsor">Assigned Show</label>
					<select class="form-control" id='assignedShowSponsor' value="{{ad.Length}}" name="assignedShowSponsor"/>
		           		{% for key, program in programs %}
		           		<option value="{{key}}" {{ad.assignedShow == key ? 'selected' : ''}} > {{program.name}} </option>
		           		{% endfor %}
		           	</select>
				    </div>
				</div>

				<div class="col-sm-2">
                <label for="assignedHourSponsor">Assigned Time</label>
                <input type='time' class="form-control" id='assignedHourSponsor'
                       name="assignedHourSponsor"
                       value="{{ad.assignedHour|default("+1 hour"|date('H:00', firstStation.timezone))}}"/>
           		</div>
		</div>
		<!-- Paid Ad part end -->



		<div class="row" id="musicPart">

			<div class="col-sm-1" id="musicCheckBox">
			    <div class="form-group">
				<label for="backingTrack">Music</label>
				<input type='checkbox' class="form-control" {{ad.backing_song != '' ? 'checked' : ''}} id='backingTrack' value="{{ad.Length}}" name="backingTrack"/>
			    </div>
			</div>
			<div id="musicChecked" style="display: none">
				
				<div class="col-sm-2">
				    <div class="form-group">
					<label for="song">Song Title</label>
					<input type='text' class="form-control" id='song' value="{{ad.backing_song}}" name="song"/>
				    </div>
				</div>
				<div class="col-sm-2">
				    <div class="form-group">
					<label for="Artist">Artist</label>
					<input type='text' class="form-control" id='artist' value="{{ad.backing_artist}}" name="artist"/>
				    </div>
				</div>
				<div class="col-sm-2">
				    <div class="form-group">
					<label for="album">Album</label>
					<input type='text' class="form-control" id='album' value="{{ad.backing_album}}" name="album"/>
				    </div>
				</div>
				<div id="musicLanguage" style="display: none">
					<div class="col-sm-2">
			       		<label for="musicLang">Language</label>
						<input list="musicLang" name="musicLang" value="{{ad.Language}}" value="English" size="10" maxlength="40" class="form-control input-sm"/>
			           	<datalist id="musicLang">
			           		<option value="English">
			           		<option value="French">
			          	</datalist>
			        </div>
				</div>
			</div>


		</div>
		<!-- Music part end -->

		 <div class="row">

			<div class="form-group pull-right">
				<button id="submit" type="submit" class="btn btn-success pull-down">Submit</button>
			<!--<button type="reset" class="btn btn-warning">Reset</button>-->
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% block lastScripts %}
	<script src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
	<script src="{{siteUrl}}/js/chosen.jquery.min.js"></script>
	<script src="{{siteUrl}}/TPSBIN/JS/Advertisements/trafficNew.js"></script>
	<script>

	$( ".datepicker" ).datepicker({
            numberOfMonths: 3,
            showButtonPanel: true,
            dateFormat: "yy-mm-dd"
        });

$(document).ready(function(){
		$('.pull-down').each(function() {
			$(this).css('margin-top', $(this).parent().height()-$(this).height())
		});

        $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
            $( "#probEndDate" ).datepicker({
                changeMonth: true,
                changeYear: true
            });
	});

	//back link
	$(document).ready(function(){
		$('a.back').click(function(){
			parent.history.back();
			return false;
		});
	});

	</script>
{% endblock %}
