{% extends 'baseAdmin.twig' %}
{% block headScripts %}
	<link href="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.css"
		  rel="stylesheet" type="text/css"/>
	<link href="{{siteUrl}}/js/chosen.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="{{siteUrl}}/js/jquery/css/smoothness/jquery-ui-1.10.0.custom.min.css"/>
	<style>
		/* Hiding the checkbox, but allowing it to be focused */
		.badgebox
		{
		    opacity: 0;
		}

		.badgebox + .badge
		{
		    /* Move the check mark away when unchecked */
		    text-indent: -999999px;
		    /* Makes the badge's width stay the same checked and unchecked */
			width: 27px;
		}

		.badgebox:focus + .badge
		{
		    /* Set something to make the badge looks focused */
		    /* This really depends on the application, in my case it was: */
		    
		    /* Adding a light border */
		    box-shadow: inset 0px 0px 5px;
		    /* Taking the difference out of the padding */
		}

		.badgebox:checked + .badge
		{
		    /* Move the check mark back when checked */
			text-indent: 0;
		}
	</style>
{% endblock %}
{% set firstStation = station|first %}
{% block title %}{{title|default('Host')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-arrow-left"></i>  <a class="back" href="#">Back</a>
    </li>
</ol>

<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
	</li>
	<li class="active">
		<i class="fa fa-fw fa-group"></i> <a href="/">User</a>
	</li>
	<li class="active">
		<a href="/houserst/new"><i class="fa fa-plus-square-o"></i> New User</a>
	</li>
</ol>
{% endblock %}
{% block content %}
<div class="container">
	<form role="form" method="POST" action="/user/new">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="programName">User Name</label>
					<input type='text' class="form-control" id='username' name="username" value="{{user.username}}"/>
			   </div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="programName">Email</label>
					<input type='email' class="form-control" id='email' name="email" value="{{user.email}}"
					{% if host.alias is not null %} readonly {% endif %}/>
			   </div>
			</div>
			
			<div class="col-sm-4">
				<div class="form-group">
					<label for="length">Password</label>
					<input type='password' class="form-control" id='password' name="password" value=""/>
			   </div>
			</div>
		</div>
		<h3>Permission</h3>
		<hr>


		<div class="row">
			<div class="col-sm-2">
				<div class="input-group">
					<label for="plCreate" class="btn btn-default">Playsheet Create 
						<input type="checkbox" name="plCreate" {{permissions.Playsheet_Create==1? 'checked' : ''}} id="plCreate" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="plView" class="btn btn-default">Playsheet View 
						<input type="checkbox" name="plView" {{permissions.Playsheet_View==1? 'checked' : ''}} id="plView" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<label for="plEdit" class="btn btn-default">Playsheet Edit 
						<input type="checkbox" name="plEdit" {{permissions.Playsheet_Edit==1? 'checked' : ''}} id="plEdit" class="badgebox">
						<span class="badge">&check;</span>
				</label>
			</div>
		</div>

			<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="trCreate" class="btn btn-default">Traffic Create 
						<input type="checkbox" name="trCreate" {{permissions.Advert_Create==1? 'checked' : ''}} id="trCreate" class="badgebox">
						<span class="badge">&check;</span>
				</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="trView" class="btn btn-default">Traffic View 
						<input type="checkbox" name="trView" {{permissions.Advert_View==1? 'checked' : ''}} id="trView" class="badgebox">
						<span class="badge">&check;</span>
				</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="trEdit" class="btn btn-default">Traffic Edit 
						<input type="checkbox" name="trEdit" {{permissions.Advert_Edit==1? 'checked' : ''}} id="trEdit" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="memCreate" class="btn btn-default">Member Create 
						<input type="checkbox" name="memCreate" {{permissions.Member_Create==1? 'checked' : ''}} id="memCreate" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="memView" class="btn btn-default">Member View 
						<input type="checkbox" name="memView" {{permissions.Member_View==1? 'checked' : ''}} id="memView" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="memEdit" class="btn btn-default">Member Edit 
						<input type="checkbox" name="memEdit" {{permissions.Member_Edit==1? 'checked' : ''}} id="memEdit" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="progCreate" class="btn btn-default">Program Create 
						<input type="checkbox" name="progCreate" {{permissions.Program_Create==1? 'checked' : ''}} id="progCreate" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">

					<label for="progView" class="btn btn-default">Program View 
						<input type="checkbox" name="progView" {{permissions.Program_View==1? 'checked' : ''}} id="progView" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="progEdit" class="btn btn-default">Program Edit 
						<input type="checkbox" name="progEdit" {{permissions.Program_Edit==1? 'checked' : ''}} id="progEdit" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">

					<label for="genCreate" class="btn btn-default">Genre Create 
						<input type="checkbox" name="genCreate" {{permissions.Genre_Create==1? 'checked' : ''}} id="genCreate" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="genView" class="btn btn-default">Genre View 
						<input type="checkbox" name="genView" {{permissions.Genre_View==1? 'checked' : ''}} id="genView" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="genEdit" class="btn btn-default">Genre Edit 
						<input type="checkbox" name="genEdit" {{permissions.Genre_Edit==1? 'checked' : ''}} id="genEdit" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="libCreate" class="btn btn-default">Library Create 
						<input type="checkbox" name="libCreate" {{permissions.Library_Create==1? 'checked' : ''}} id="libCreate" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="libView" class="btn btn-default">Library View 
						<input type="checkbox" name="libView" {{permissions.Library_View==1? 'checked' : ''}} id="libView" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="libEdit" class="btn btn-default">Library Edit 
						<input type="checkbox" name="libEdit" {{permissions.Library_Edit==1? 'checked' : ''}} id="libEdit" class="badgebox">
						<span class="badge">&check;</span>
					</label>
			   </div>
			</div>
		</div>


		 <div class="row">
			<div class="col-sm-11">
			</div>
			<div class="col-sm-1">
				<div class="form-group pull-right">
					
					<button id="submit" type="submit" class="btn btn-success pull-down ">Submit</button>
				<!--<button type="reset" class="btn btn-warning">Reset</button>-->
				</div>
			</div>

		</div>
	</form>
</div>
{% endblock %}
{% block lastScripts %}
	<script src="{{siteUrl}}/js/jquery/js/jquery-ui-1.11.0/jquery-ui.min.js"></script>
	<script src="{{siteUrl}}/js/chosen.jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		updateAdjWeight();
		$('.pull-down').each(function() {
			$(this).css('margin-top', $(this).parent().height()-$(this).height())
		});

	        $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
                $( "#probEndDate" ).datepicker({
                    changeMonth: true,
                    changeYear: true
                });
	});

	//back link
	$(document).ready(function(){
		$('a.back').click(function(){
			parent.history.back();
			return false;
		});
	});

	</script>
{% endblock %}
